<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/splash_background"
    android:id="@+id/sample_main_layout">
    <LinearLayout
        android:orientation="vertical"
        android:id="@+id/rl_0"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="0.1"
        android:paddingRight="10dp"
        android:paddingLeft="10dp" />
    <LinearLayout
        android:orientation="horizontal"
        android:id="@+id/rl_1"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1"
        android:paddingRight="10dp"
        android:paddingLeft="10dp"
        android:baselineAligned="false">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_weight="1"
            android:id="@+id/rl_1_1"
            android:baselineAligned="false">
            <ImageButton
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="1"
                android:src="@mipmap/network_button"
                android:id="@+id/network_btn"
                android:scaleType="fitCenter"
                android:background="@color/design_fab_shadow_end_color"
                android:paddingTop="10dp"
                android:paddingRight="10dp"
                android:paddingBottom="10dp"
                android:paddingLeft="10dp" />
            <LinearLayout
                android:orientation="horizontal"
                android:id="@+id/rl_1_1_1"
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="0.2"
                android:baselineAligned="false">
                <TextView
                    android:id="@+id/launcher_network_points"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:layout_gravity="fill"
                    android:text="0"
                    android:gravity="right|center_vertical"
                    android:textColor="@color/text_icons"
                    android:includeFontPadding="false" />
                <ImageView
                    android:src="@mipmap/down_arrow"
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="1"
                    android:id="@+id/launcher_network_indicator"
                    android:layout_gravity="left"
                    android:adjustViewBounds="true"
                    android:scaleType="fitStart"
                    android:paddingLeft="10dp"
                    android:alpha="0" />
            </LinearLayout>
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_weight="1"
            android:id="@+id/rl_1_2"
            android:baselineAligned="false">
            <ImageButton
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="1"
                android:id="@+id/speed_btn"
                android:scaleType="fitCenter"
                android:background="@color/design_fab_shadow_end_color"
                android:paddingTop="10dp"
                android:paddingRight="10dp"
                android:paddingBottom="10dp"
                android:paddingLeft="10dp"
                android:src="@mipmap/speed_button" />
            <LinearLayout
                android:orientation="horizontal"
                android:id="@+id/rl_1_2_1"
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="0.2"
                android:baselineAligned="false">
                <TextView
                    android:id="@+id/launcher_speed_points"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:layout_gravity="fill"
                    android:text="0"
                    android:gravity="right|center_vertical"
                    android:textColor="@color/text_icons"
                    android:includeFontPadding="false" />
                <ImageView
                    android:src="@mipmap/up_arrow"
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="1"
                    android:id="@+id/launcher_speed_indicator"
                    android:layout_gravity="left"
                    android:adjustViewBounds="true"
                    android:scaleType="fitStart"
                    android:paddingLeft="10dp"
                    android:alpha="0" />
            </LinearLayout>
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:id="@+id/rl_2"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1"
        android:paddingRight="10dp"
        android:paddingLeft="10dp">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_weight="1"
            android:id="@+id/rl_2_1"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageButton
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="1"
                android:id="@+id/wifi_btn"
                android:scaleType="fitCenter"
                android:background="@color/design_fab_shadow_end_color"
                android:paddingTop="10dp"
                android:paddingRight="10dp"
                android:paddingBottom="10dp"
                android:paddingLeft="10dp"
                android:src="@mipmap/wifi_button" />
            <LinearLayout
                android:orientation="horizontal"
                android:id="@+id/rl_1_2_1"
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="0.2">
                <TextView
                    android:id="@+id/launcher_wifi_points"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:layout_gravity="fill"
                    android:text="0"
                    android:gravity="right|center_vertical"
                    android:textColor="@color/text_icons"
                    android:includeFontPadding="false" />
                <ImageView
                    android:src="@mipmap/up_arrow"
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="1"
                    android:id="@+id/launcher_wifi_indicator"
                    android:layout_gravity="left"
                    android:adjustViewBounds="true"
                    android:scaleType="fitStart"
                    android:paddingLeft="10dp"
                    android:alpha="0" />
            </LinearLayout>
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_weight="1"
            android:id="@+id/rl_2_2">
            <ImageButton
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="1"
                android:id="@+id/n_speed_btn"
                android:scaleType="fitCenter"
                android:background="@color/design_fab_shadow_end_color"
                android:paddingTop="10dp"
                android:paddingRight="10dp"
                android:paddingBottom="10dp"
                android:paddingLeft="10dp"
                android:src="@mipmap/n_speed_button" />
            <LinearLayout
                android:orientation="horizontal"
                android:id="@+id/rl_1_2"
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="0.2">
                <TextView
                    android:id="@+id/launcher_n_speed_points"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:layout_gravity="fill"
                    android:text="0"
                    android:gravity="right|center_vertical"
                    android:textColor="@color/text_icons"
                    android:includeFontPadding="false" />
                <ImageView
                    android:src="@mipmap/up_arrow"
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="1"
                    android:id="@+id/launcher_n_speed_indicator"
                    android:layout_gravity="left"
                    android:adjustViewBounds="true"
                    android:scaleType="fitStart"
                    android:paddingLeft="10dp"
                    android:alpha="0" />
            </LinearLayout>
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:id="@+id/rl_4"
        android:paddingRight="10dp"
        android:paddingLeft="10dp"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_weight="1"
            android:id="@+id/rl_4_1"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageButton
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="1"
                android:id="@+id/blank_btn"
                android:scaleType="fitCenter"
                android:background="@color/design_fab_shadow_end_color"
                android:paddingTop="10dp"
                android:paddingRight="10dp"
                android:paddingBottom="10dp"
                android:paddingLeft="10dp"
                android:src="@mipmap/wifi_button" />
            <LinearLayout
                android:orientation="horizontal"
                android:id="@+id/rl_4_1_1"
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="0.2">
                <TextView
                    android:id="@+id/launcher_blank_points"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:layout_gravity="fill"
                    android:text="0"
                    android:gravity="right|center_vertical"
                    android:textColor="@color/text_icons"
                    android:includeFontPadding="false" />
                <ImageView
                    android:src="@mipmap/up_arrow"
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="1"
                    android:id="@+id/launcher_blank_indicator"
                    android:layout_gravity="left"
                    android:adjustViewBounds="true"
                    android:scaleType="fitStart"
                    android:paddingLeft="10dp"
                    android:alpha="0" />
            </LinearLayout>
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_weight="1"
            android:id="@+id/rl_4_2">
            <ImageButton
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="1"
                android:id="@+id/hapiness_btn"
                android:scaleType="fitCenter"
                android:background="@color/design_fab_shadow_end_color"
                android:paddingTop="10dp"
                android:paddingRight="10dp"
                android:paddingBottom="10dp"
                android:paddingLeft="10dp"
                android:src="@mipmap/happy" />
            <LinearLayout
                android:orientation="horizontal"
                android:id="@+id/rl_4_2_1"
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="0.2">
                <TextView
                    android:id="@+id/launcher_happy_points"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:layout_gravity="fill"
                    android:text="0"
                    android:gravity="right|center_vertical"
                    android:textColor="@color/text_icons"
                    android:includeFontPadding="false" />
                <ImageView
                    android:src="@mipmap/up_arrow"
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="1"
                    android:id="@+id/launcher_happy_indicator"
                    android:layout_gravity="left"
                    android:adjustViewBounds="true"
                    android:scaleType="fitStart"
                    android:paddingLeft="10dp"
                    android:alpha="0" />
            </LinearLayout>
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:id="@+id/rl_3"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1"
        android:paddingRight="10dp"
        android:paddingLeft="10dp">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_weight="1"
            android:id="@+id/rl_3_1">
            <ImageButton
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="1"
                android:src="@mipmap/safety"
                android:id="@+id/safety_btn"
                android:scaleType="fitCenter"
                android:background="@color/design_fab_shadow_end_color"
                android:paddingTop="10dp"
                android:paddingRight="10dp"
                android:paddingBottom="10dp"
                android:paddingLeft="10dp" />
            <LinearLayout
                android:orientation="horizontal"
                android:id="@+id/rl_3_2"
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="0.2">
                <TextView
                    android:id="@+id/launcher_safety_points"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:layout_gravity="fill"
                    android:text="0"
                    android:gravity="right|center_vertical"
                    android:textColor="@color/text_icons"
                    android:includeFontPadding="false" />
                <ImageView
                    android:src="@mipmap/up_arrow"
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="1"
                    android:id="@+id/launcher_safety_indicator"
                    android:layout_gravity="left"
                    android:adjustViewBounds="true"
                    android:scaleType="fitStart"
                    android:paddingLeft="10dp"
                    android:alpha="0" />
            </LinearLayout>
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_weight="1"
            android:id="@+id/rl_3_2">
            <ImageButton
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="1"
                android:src="@mipmap/tissue_button"
                android:id="@+id/tissue_btn"
                android:scaleType="fitCenter"
                android:background="@color/design_fab_shadow_end_color"
                android:paddingTop="10dp"
                android:paddingRight="10dp"
                android:paddingBottom="10dp"
                android:paddingLeft="10dp" />
            <LinearLayout
                android:orientation="horizontal"
                android:id="@+id/rl_4_2"
                android:layout_width="match_parent"
                android:layout_height="0dp"
                android:layout_weight="0.2">
                <TextView
                    android:id="@+id/launcher_tissue_points"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:layout_gravity="fill"
                    android:text="0"
                    android:gravity="right|center_vertical"
                    android:textColor="@color/text_icons"
                    android:includeFontPadding="false" />
                <ImageView
                    android:src="@mipmap/down_arrow"
                    android:layout_width="0dp"
                    android:layout_height="match_parent"
                    android:layout_weight="1"
                    android:id="@+id/launcher_tissue_indicator"
                    android:layout_gravity="left"
                    android:adjustViewBounds="true"
                    android:scaleType="fitStart"
                    android:paddingLeft="10dp"
                    android:alpha="0" />
            </LinearLayout>
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:orientation="vertical"
        android:id="@+id/rl_5"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="0.1"
        android:minWidth="25px"
        android:minHeight="25px" />
</LinearLayout>