<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">
    <fragment
        android:id="@+id/map"
        class="com.google.android.gms.maps.SupportMapFragment"
        android:layout_width="match_parent"
        android:layout_height="match_parent" />
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_alignParentTop="true"
        android:id="@+id/map_main_layout"
        android:minWidth="25px"
        android:minHeight="25px">
        <LinearLayout
            android:orientation="horizontal"
            android:id="@+id/map_rl1"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:layout_weight="0.10"
            android:background="@color/splash_background_tranparent">
            <LinearLayout
                android:orientation="vertical"
                android:id="@+id/map_rh1"
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:layout_weight="0.34"
                android:layout_gravity="left">
                <ImageView
                    android:id="@+id/actual_felling"
                    android:layout_width="match_parent"
                    android:layout_height="0dp"
                    android:layout_weight="0.7"
                    android:gravity="center"
                    android:src="@mipmap/happy_very_green"
                    android:scaleType="centerInside" />
                <TextView
                    android:layout_width="match_parent"
                    android:layout_height="0dp"
                    android:layout_weight="0.3"
                    android:textColor="@color/text_icons"
                    android:id="@+id/actual_points"
                    android:gravity="center"
                    android:text="N/A" />
            </LinearLayout>
            <View
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:layout_weight="0.002"
                android:background="@color/divider"
                android:layout_marginTop="10dp"
                android:layout_marginBottom="10dp"
                android:alpha="0.6" />
            <TextView
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:layout_weight="0.55"
                android:gravity="center"
                android:id="@+id/map_score_txt"
                android:textColor="@color/text_icons"
                android:textSize="24dp"
                android:layout_gravity="center"
                android:text="Sure" />
            <View
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:layout_weight="0.002"
                android:background="@color/divider"
                android:layout_marginTop="10dp"
                android:layout_marginBottom="10dp"
                android:alpha="0.6" />
            <TextView
                android:gravity="center"
                android:id="@+id/map_time_txt"
                android:textColor="@color/text_icons"
                android:textSize="24dp"
                android:text="0 min"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:layout_weight="0.10"
                android:layout_gravity="right" />
        </LinearLayout>
        <TextView
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:gravity="center"
            android:id="@+id/map_no_connection_txt"
            android:textColor="@color/text_icons"
            android:layout_gravity="center"
            android:paddingRight="10dp"
            android:layout_weight="0.07"
            android:text="@string/offline_txt_title"
            android:background="@color/light_primary"
            android:textStyle="bold" />
        <LinearLayout
            android:orientation="horizontal"
            android:id="@+id/map_rl1_1"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:layout_weight="0.9"
            android:minWidth="25px"
            android:minHeight="25px" />
    </LinearLayout>
    <android.support.design.widget.CoordinatorLayout xmlns:app="http://schemas.android.com/apk/res-auto"
        xmlns:tools="http://schemas.android.com/tools"
        android:id="@+id/main_content"
        android:layout_width="match_parent"
        android:layout_height="450dp"
        android:layout_alignParentBottom="true">
        <android.support.v4.widget.NestedScrollView
            android:id="@+id/bottom_sheet"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:clipToPadding="false"
            android:fillViewport="true"
            android:background="@color/splash_background_tranparent"
            app:layout_behavior="android.support.design.widget.BottomSheetBehavior">
            <LinearLayout
                android:orientation="vertical"
                android:id="@+id/map_rh_bottom"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:background="#00000000">
                <LinearLayout
                    android:orientation="horizontal"
                    android:id="@+id/map_rl_bottom"
                    android:layout_width="match_parent"
                    android:layout_height="0dp"
                    android:layout_weight="0.1"
                    android:background="#00000000"
                    android:layout_marginBottom="7dp"
                    android:layout_marginTop="5dp">
                    <Switch
                        android:id="@+id/real_time_switch"
                        android:gravity="fill_vertical"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="0.33"
                        android:text="@string/real_time"
                        android:textColor="@color/text_icons"
                        android:paddingBottom="8dp"
                        android:textStyle="bold"
                        android:thumbTint="@color/color_accent"
                        android:checked="false"
                        android:layout_marginLeft="16dp"
                        android:paddingTop="8dp" />
                    <View
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="0.002"
                        android:background="@color/divider"
                        android:layout_marginTop="10dp"
                        android:layout_marginBottom="10dp"
                        android:alpha="0.6"
                        android:id="@+id/view1" />
                    <ImageButton
                        android:src="@mipmap/ic_filter_list_white_48dp"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:id="@+id/more_btn"
                        android:layout_weight="0.33"
                        android:background="@color/design_fab_shadow_end_color" />
                    <View
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="0.002"
                        android:background="@color/divider"
                        android:layout_marginTop="10dp"
                        android:layout_marginBottom="10dp"
                        android:alpha="0.6"
                        android:id="@+id/view2" />
                    <ImageButton
                        android:src="@mipmap/home_egg"
                        android:layout_width="0dp"
                        android:layout_height="match_parent"
                        android:layout_weight="0.33"
                        android:scaleType="centerInside"
                        android:id="@+id/map_home_btn"
                        android:background="@color/design_fab_shadow_end_color" />
                </LinearLayout>
                <TextView
                    android:layout_width="match_parent"
                    android:layout_height="56dp"
                    android:id="@+id/dot_count_txt"
                    android:layout_marginTop="8dp"
                    android:background="@color/splash_background"
                    android:textColor="@color/text_icons"
                    android:gravity="center_vertical"
                    android:paddingRight="16dp"
                    android:paddingLeft="16dp"
                    android:textSize="16sp" />
                <ListView
                    android:layout_width="match_parent"
                    android:layout_height="0dp"
                    android:layout_weight="0.8"
                    android:id="@+id/trait_listView"
                    android:elevation="4dp"
                    android:divider="@null"
                    android:background="@color/splash_background"
                    android:paddingBottom="10dp" />
            </LinearLayout>
        </android.support.v4.widget.NestedScrollView>
    </android.support.design.widget.CoordinatorLayout>
    <android.support.design.widget.FloatingActionButton
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_centerInParent="true"
        android:layout_alignParentRight="true"
        android:layout_marginRight="16dp"
        android:id="@+id/selection_1_fabtn"
        android:src="@mipmap/n_download_speed_white"
        android:translationY="-58dp" />
    <android.support.design.widget.FloatingActionButton
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_centerInParent="true"
        android:layout_alignParentRight="true"
        android:layout_marginRight="16dp"
        android:id="@+id/selection_2_fabtn"
        android:src="@mipmap/n_latency_white"
        android:alpha=".5" />
    <android.support.design.widget.FloatingActionButton
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_centerInParent="true"
        android:layout_alignParentRight="true"
        android:layout_marginRight="16dp"
        android:id="@+id/selection_3_fabtn"
        android:src="@mipmap/n_upload_speed_white"
        android:alpha=".5"
        android:translationY="58dp" />
</RelativeLayout>